################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmployeeTest/bin/Debug/netcoreapp3.1
/EmployeeTest/obj
/.vs/EmployeeTest/DesignTimeBuild
/.vs/EmployeeTest/config
